body {background:#f5f5f5;}
.frame {box-shadow: 0 0 5px #ccc;-moz-box-shadow: 0 0 5px #ccc;-webkit-box-shadow: 0 0 5px #ccc;
        -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;border:1px solid #ccc;
        padding: 10px; margin:10px;position:relative;background:#fff;}

.big-logo {text-align:center;margin-top:100px;margin-bottom:100px;}
.small {margin-top:10px;}
.small img {width:170px;}
h1 { font-size:18px;}
h2 {text-align: center;}
.map, .video {width:90%;margin:0 auto;text-align:center;}
.video #placeVideo {text-align:center;margin:0 auto;}
.map a {display:block;}
.smallMap { width: 250px;}
.bigMap { width: 100%;}
.font18 { font-size: 18px;-webkit-text-size-adjust:none;width: 100%;}

.error-404 {text-align:center;}
.error-404 img {width: 170px; padding: 20px 0;}