<div class="addItem">
    <div class="addItem-btn btn-control">
        <span><a href="@Url.Action("Register")">新增用户</a></span>
    </div>
</div>
<div class="column-item first">
    <h3>信息</h3>
    <ul>
        <li><a href="@Url.Action("Index")"><span class="tit all-item">查看全部</span></a></li>
    </ul>
</div>
