body {font-size: 12px;font-family: 'Microsoft YaHei', 'Lucida Grande', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;overflow-y: auto;overflow-x: hidden;background: #ececec;color: #333;line-height: 1;}

.messages-alert, .messages-notice {margin: 10px;padding: 10px;-moz-box-shadow: 0 1px 1px #DDD;-webkit-box-shadow: 0 1px 1px #DDD;box-shadow: 0 1px 1px #DDD;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.messages-alert {background: #A22916;border: 1px solid #ff0000;text-align: center;color: #FFF;}
.messages-notice {background: #8ee537;border: 1px solid #5fbf00;text-align: center;}
.errorExplanation {background: #FBE3E4;color: #8A1F11;border: 2px solid #FBC2C4;padding: 10px;margin: 10px;}
.errorExplanation h2 {font-size: 14px;font-weight: bold;}
.errorExplanation p {margin-bottom: 5px;}
.errorExplanation ul {padding-left: 25px;margin: 0px;}
.errorExplanation li {padding: 4px;}
.btn-control {vertical-align: middle;color: #888;padding: 0;border: 1px solid #B7B7B7;cursor: pointer;font-size: 12px;text-shadow: 0 1px 0 white;
	outline: none;text-align: center;-moz-box-shadow: 0 1px 1px #DDD;-webkit-box-shadow: 0 1px 1px #DDD;box-shadow: 0 1px 1px #DDD;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;
	background: #FDFDFD;background: -moz-linear-gradient(top,#FDFDFD 0,#E2E4E9 100%);
	background: -o-linear-gradient(top,#FDFDFD 0,#E2E4E9 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FDFDFD),color-stop(100%,#E2E4E9));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD',endColorstr='#E2E4E9',GradientType=0);}
.btn-control:hover:not(.disabled) {border-color: #1886c1;-moz-box-shadow: 0 0 8px #bae4ed;-webkit-box-shadow: 0 0 8pxpx #bae4ed;
	box-shadow: 0 0 8px #bae4ed;background: #FDFDFD;background: -moz-linear-gradient(top,#FDFDFD 0,#D9ECFC 100%);
	background: -o-linear-gradient(top,#FDFDFD 0,#D9ECFC 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FDFDFD),color-stop(100%,#D9ECFC));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD',endColorstr='#D9ECFC',GradientType=0);}
.btn-control span {display: inline-block;}
.btn-control-icon {height: 22px;line-height: 22px;overflow: hidden;}
.btn-control-cancel {background-position: -250px -400px;}
.btn-control-delete {background-position: -250px -450px;}
.btn-control-edit {background-position: -250px -500px;}
.btn-control-none {background-position: -250px -550px;}
.btn-control-save {background-position: -250px -600px;}

header {width: 100%;height: 47px;float: left;min-width: 830px;position: relative;border-bottom: 1px solid #18344e;
	background: #0e487c;background: -moz-linear-gradient(top, #0e487c 0, #1d73ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0e487c), color-stop(100%, #1d73ad));
	background: -webkit-linear-gradient(top, #0e487c 0, #1d73ad 100%);
	background: -o-linear-gradient(top, #0e487c 0, #1d73ad 100%);
	background: -ms-linear-gradient(top, #0e487c 0, #1d73ad 100%);
	background: linear-gradient(top, #0e487c 0, #1d73ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e487c', endColorstr='#1d73ad', GradientType=0);}

header .menu-wrapper {border-bottom: 1px solid #196395;width: 90%;}
header .setting-wrapper {position: absolute;right: 0;top: 0;}
header .setting-wrapper ul {list-style-type: none;padding: 0;margin: 0;}
header .setting-wrapper li {float: left;height: 45px;margin: 0 5px 0 0;}
header .setting-wrapper li a {display: block;height: 32px;width: 32px;line-height: 32px;margin: 7px 0;text-align: center;
	background: transparent url("/Content/Images/admin/home.png") no-repeat;text-indent: -10000px;}
header .setting-wrapper li a.setting {background-position: -199px -585px;}
header .setting-wrapper li a.logout {background-position: -165px -585px;}
header .menu-inner {height: 45px;border-bottom: 1px solid #1C6EA6;position: relative;z-index: 10;}
header .menu-inner .menu-item {font-size: 14px;height: 45px;line-height: 45px;width: 78px;
	float: left;color: #E4F6FF;text-shadow: 0 1px 0 black;text-align: center;text-decoration: none;position: relative;}
header .menu-inner .selected {color: white;}
header .selected .allow {width: 10px;height: 7px;background: url("/Content/Images/admin/header_menu_selected.png") no-repeat;position: absolute;
	bottom: -4px;left: 35px;}

#wrapper, #wrapper-full {width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
	float: left;background: #edeeef;}

/* main styles */
#wrapper #main, #wrapper-full #main {height: 100%;background: #FFFFFF;}
#wrapper #main {margin-left: 221px;}
#wrapper-full #main {margin-left: 0;}

#main .toolbar {height: 40px;line-height: 40px;padding: 0 16px 0 12px;white-space: nowrap;border-bottom: 1px solid #c3c3c3;
	position: relative;-webkit-box-shadow: 0 2px 2px #eaeaea;-moz-box-shadow: 0 2px 2px #eaeaea;box-shadow: 0 2px 2px #eaeaea;
	background: #fefefe;background: -moz-linear-gradient(top,#fefefe 0,#f0f3f4 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fefefe),color-stop(100%,#f0f3f4));
	background: -webkit-linear-gradient(top,#fefefe 0,#f0f3f4 100%);
	background: -o-linear-gradient(top,#fefefe 0,#f0f3f4 100%);
	background: -ms-linear-gradient(top,#fefefe 0,#f0f3f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',endColorstr='#f0f3f4',GradientType=0);
	background: linear-gradient(top,#fefefe 0,#f0f3f4 100%);color: #999;}
#main .toolbar .toolbar-left, #main .toolbar .toolbar-right {width: 50%;}
#main .toolbar .toolbar-left {float: left;}
#main .toolbar .toolbar-right {float: right;text-center: right;}
#main .toolbar-left a {color: #999;font-weight: bold;}
#main .toolbar-left a:hover {color: #0e487c;}
#main .toolbar-left span.line {padding: 0 5px;}


#main .toolbar .search {text-center: right;}
#main .toolbar .search .search-input:not(.disabled):hover {box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;-webkit-box-shadow: 0 0 5px #ccc;}
#main .toolbar .search .search-input {border: 1px solid #D6D6D6;height: 20px;float: right;line-height: 20px;font-size: 12px;
padding: 3px 5px;outline: 0 none;background: white;width: 60%;-moz-box-shadow: 2px 2px 3px #EEE inset;
-webkit-box-shadow: 2px 2px 3px #EEE inset;box-shadow: 2px 2px 3px #EEE inset;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
#main .toolbar .search .search-button {float: right;margin-left: 10px;height: 28px;line-height: 20px;padding: 3px 5px;
    color: #333;margin-top: 6px;text-decoration: none;width: 80px;}
#main .main-container {position: relative;overflow-x: hidden;border-top: 1px solid white;margin-bottom: -1px;overflow-y: auto;
    background: #FFFFFF;}

#main .main-container h1 {font-size: 14px;border-bottom: 5px solid #666;padding-bottom: 5px;margin-bottom: 0;color: #666;
    margin: 10px;}

#main .main-container h1 span.search_result {font-size: 12px;margin-left: 0px;color: #ccc;}

#main .simple-form-wrapper {padding: 0px;padding-bottom: 20px;}
#main .simple-form-wrapper div.input, #main .simple-form-wrapper div.buttons {clear: both;margin-top: 20px;}
#main .simple-form-wrapper div.input {margin: 0 10px 15px;}
#main .simple-form-wrapper label {width: 100px;float: left;height: 20px;padding-top: 14px;color: #666;}
#main .simple-form-wrapper label.delete {float: none;color: #ff0000;}
#main .simple-form-wrapper select.select {margin: 10px 0;padding: 5px;width: 200px;border: 1px solid #ccc;height: 26px;}
#main .simple-form-wrapper input.file {margin:12px 0;}
#main .simple-form-wrapper div.thumbImage {margin-left: 110px;}
#main .simple-form-wrapper div.thumbImage img {max-width: 140px;padding: 2px;border: 1px solid #ccc;}
#main .simple-form-wrapper abbr {border: none;color: #ff0000;}
#main .simple-form-wrapper span.hint {display: block;margin-left: 100px;color: #ccc;}
input[type=text], input[type=password], input[type=url], input[type=email],input[type=file], input.text, input.title, textarea {border: 1px solid #D6D6D6;height: 20px;line-height: 20px;
	font-size: 12px;padding: 3px 5px;outline: 0 none;background: white;width: 60%;-moz-box-shadow: 2px 2px 3px #EEE inset;
	-webkit-box-shadow: 2px 2px 3px #EEE inset;box-shadow: 2px 2px 3px #EEE inset;-moz-border-radius: 5px;-webkit-border-radius: 5px;
	border-radius: 5px;}
#main textarea {height: 80px;resize: none;}
#main input:not(.disabled):hover, #main textarea:not(.disabled):hover {box-shadow: 0 0 5px #ccc;-moz-box-shadow: 0 0 5px #ccc;-webkit-box-shadow: 0 0 5px #ccc;}
#main .buttons {padding-left: 2px;}
#main input.button {width: 200px;height: 28px;}
#main .canel {width: 100px;height: 26px;display: inline-block;line-height: 26px;text-decoration: none;margin-left: 20px;}

#sidebar {float: left;width: 220px;background: #F1F3F5;border-right: 1px solid #C6C6C6;}
#sidebar h3 {height: 30px;line-height: 30px;color: #888;padding-left: 10px;font-weight: normal;font-size: 12px;margin: 0;}
#sidebar ul {list-style: none;margin: 0;padding: 0;}
#sidebar ol {list-style: none;margin: 0;padding: 0;}
#sidebar ul li {overflow: hidden;height: 24px;line-height: 24px;padding: 0 0 0 20px;width: 200px;cursor: pointer;border-top: 1px solid #F1F3F5;border-bottom: 1px solid #F1F3F5;}
#sidebar ul li:hover {background: #1E74AF;}
#sidebar ul li:hover a {color: #FFF;}
#sidebar ul li a {display: block;text-decoration: none;color: #333;}
#sidebar ul li .tit {background-image: url("/Content/Images/admin/home.png");background-repeat: no-repeat;background-color: transparent;padding: 2px 0 0 24px;}
#sidebar ul li .tit.all-item {background-position: -284px -73px;}
#sidebar .addItem {width: 220px;height: 56px;display: table-cell;border-bottom: 1px solid #C3C3C3;vertical-align: middle;text-align: center;}
#sidebar .addItem-btn {width: 187px;height: 32px;color: #333;display: inline-block;}
#sidebar .addItem-btn a {display: block;text-decoration: none;color: #333;padding-left: 35px;height: 22px;line-height: 22px;background: url("/Content/Images/admin/new-icon.png") no-repeat;margin-top: 5px;}
#sidebar .column-item.first {border-top: 1px solid white;}
#sidebar .column-item.first h3 {height: 29px;padding-top: 4px;line-height: 28px;}

/* footer styles */
footer {width: 100%;float: left;border-top: 1px solid #C6C6C6;background: #F7F7F7;color: #888;line-height: 20px;bottom: 0;z-index: 10;display: none;}

/* wice_grid styles */
.wice_grid_container {
	padding: 10px;
}
tbody tr:nth-child(even) td, tbody tr.even td {
	background: transparent;
}
.wice_grid {
	width: 100%;
}
.wice_grid td {
	border-bottom: 1px solid #ccc;
}
.wice_grid td img.star {
	padding-left: 2px;
	padding-top: 2px;
}
.wice_grid td.actions {
	text-align: center;
}
#grid tbody tr.even {
	background: #E5ECF9;
}
#grid tbody tr.selected {
	background: #ccc;
}
.wice_grid thead {
	border-bottom: 1px solid #ccc;
}
.wice_grid tr.wice_grid_title_row th {
	height: 40px;
	line-height: 40px;
	padding: 0 16px 0 12px;
	white-space: nowrap;
	border-bottom: 1px solid #c3c3c3;
	position: relative;
	-webkit-box-shadow: 0 2px 2px #eaeaea;
	-moz-box-shadow: 0 2px 2px #eaeaea;
	box-shadow: 0 2px 2px #eaeaea;
	background: #fefefe;
	background: -moz-linear-gradient(top,#fefefe 0,#f0f3f4 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fefefe),color-stop(100%,#f0f3f4));
	background: -webkit-linear-gradient(top,#fefefe 0,#f0f3f4 100%);
	background: -o-linear-gradient(top,#fefefe 0,#f0f3f4 100%);
	background: -ms-linear-gradient(top,#fefefe 0,#f0f3f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',endColorstr='#f0f3f4',GradientType=0);
	background: linear-gradient(top,#fefefe 0,#f0f3f4 100%);
	color: #999;
}
.wice_grid tr.wice_grid_filter_row th {
	background: #FFF;
}
.wice_grid tr.wice_grid_filter_row input {
	border: 1px solid #D6D6D6;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	padding: 3px 5px;
	outline: 0 none;
	background: white;
	width: 40px;
	-moz-box-shadow: 2px 2px 3px #EEE inset;
	-webkit-box-shadow: 2px 2px 3px #EEE inset;
	box-shadow: 2px 2px 3px #EEE inset;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.wice_grid tr.wice_grid_filter_row select {
	border: 1px solid #D6D6D6;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	padding: 3px 5px;
	outline: 0 none;
	background: white;
	-moz-box-shadow: 2px 2px 3px #EEE inset;
	-webkit-box-shadow: 2px 2px 3px #EEE inset;
	box-shadow: 2px 2px 3px #EEE inset;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.wice_grid tr.wice_grid_filter_row th.filter_icons {
	padding: 0;
	margin: 0;
	height: 40px;
	vertical-align: middle;
	text-align: center;
}
.wice_grid .actions { text-align: center;}

#main div.text {margin: 0 10px;}
#main div.text ul li {padding: 5px 0;}
#main div.text li span.number {color: #fff;font-size: 11px;font-weight: bold;height: 18px;line-height: 18px;margin: 0 10px;min-width: 14px;
	padding: 0 5px;text-align: center;background: #95b9d2;text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);-moz-border-radius: 10px;-webkit-border-radius: 10px;
	border-radius: 10px;-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 0.4);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 0.4);}

.h60 {height: 60px;}
input.w-600 {width: 600px;}
input.w-100 {width: 100px;}
.form-body {margin-top: 20px; width: 90%;}
.form-body h3 {margin-top: 30px;border-bottom: 1px solid #CCC;color: #82C55B; padding-bottom: 6px;}
.form-body .editor-label {float: left; font-weight: bold; padding-top: 16px; display: inline-block; width: 120px;}
.form-body .editor-field {margin-left: 140px; margin-bottom: 10px; min-height: 30px;}
.form-body span.hint {color: #666; display: block;}
.form-body label {padding: 3px 0; font-size:14px;}
input[type="text"], input[type="file"], textarea {-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; padding: 7px 2px 4px 2px;}
input[type="file"] {margin: 7px 0; padding: 6px 0;}
#main .field-validation-error {color: #ff0000; margin-top: 4px; display: block;}
#main .field-validation-valid{display: none;}
#main .input-validation-error{border: 1px solid #ff0000;background-color: #ffeeee;}
#main .validation-summary-errors{font-weight: bold;color: #ff0000}
#main .validation-summary-valid{display: none;}

#places .info {float: left; margin-top: 5px;}

.pager span, .pager a {display:block; padding-top: 5px; background: #F1F3F5;margin: 0 3px; width: 25px; height: 20px; float: left;
    font-size: 14px; text-decoration: none; text-align: center;}
.pager .disabled {display: none;}
.pager a:hover {background: #336699; color: #FFF;}